@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aplikacja internetowa do oceniania filmów i seriali</h1>
    <p>Aplikacja w trakcie rozwoju. Prace są prowadzone na repozytorium <a href="https://github.com/Bodzioss/movie_rating_app" target="_blank">Github</a>.</p>
</div>
